.footer{
    background-color:  rgb(2, 112, 255);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;



}


.Footer-conteiner{
    margin-top: 200px;
}

.Footer-components{
    font-size: 20px;

    
}

.Logo-Sesi{
    position: relative;
    top: 10px;
    width: 100px;
    height: auto;
    left: 900px;
    
}

.contato{

    position: relative;
    top: 40px;
    right: 450px;
}